build/
3D*Render/Library
3D*Render/Logs
3D*Render/Temp
3D*Render/Assets/AzureKinectExamples
Comms*Attempt/Library
Comms*Attempt/Logs
Comms*Attempt/Temp
Senior*Design*2023/Library
Senior*Design*2023/Logs
Senior*Design*2023/Temp
StrokeRehab
Floor*Anchoring*Test/Library
Floor*Anchoring*Test/Logs
Floor*Anchoring*Test/Temp
2324Design/Library
2324Design/Builds
2324Design/Logs
2324Design/Temp
2324design/Assets/AzureKinectExamples
My*Project/Library
My*Project/Logs
My*Project/Temp
Built*Code/.vs/_A*Senior*Design*2023/v16/Browse.VC.db
MixedRealityFeatureTool.exe
